@media only screen and (max-width: 500px) {
    #sitename{
        font-size: 20px;
    }
    #sitename:hover{
        font-size: 22px;
    }
    #leetcode{
        font-size: 20px;
    }
    #leetcode:hover{
        font-size: 22px;
    }
    #linkedin{
        font-size: 20px;
    }
    #linkedin:hover{
        font-size: 22px;
    }
}
