@media only screen and (max-width: 1090px) {
    #intro1 p{
        font-size: 20px;
    }
    #nav2{

        padding-left: 150px;

    }
    #button{

        padding: 10px;

        font-size: 18px;
        

    }
    #photo img{
        width: 180px;
        height: 250px;
        
    }
    #photo img:hover{
        width: 200px;
        height: 270px;
    }
  }


  @media only screen and (max-width: 1020px) {
    #name{
        font-size: 40px;

    }
    #h2{
        font-size: 20px;
    }
    #nav2 a{
        font-size: 16px;
    }
    #intro1 p{
        /* margin-top: 15px; */
        font-size: 18px;
    }
    #intro1 h1{
        /* margin-top: 15px; */
        font-size: 30px;
    }
  }


  @media only screen and (max-width: 920px) {
    #name{
        font-size: 35px;

    }
    #h2{
        font-size: 18px;
    }
    #nav2 a{
        font-size: 16px;
    }
    #intro1 p{
        font-size: 17px;
    }
    #intro1 h1{
        font-size: 25px;
    }
    #button{

        padding: 8px;

        font-size: 15px;
    }
    #nav2{

        padding-left: 100px;

    }
  }



  @media only screen and (max-width: 820px) {
    #name{
        font-size: 30px;
        margin-left: 40px;
    }
    #h2{
        font-size: 18px;
        margin-left: 50px;
    }
    #nav2{
        padding-left: 60px;
    }
    #nav2 a{
        font-size: 15px;
    }
    #nav2 a:hover{
        padding: 15px;
        color: aqua;
        letter-spacing: 2px;
    }
    #button:hover{
    
        letter-spacing: 2px;
        padding: 10px;
        box-shadow: 0 0 25px aqua;
        color: aqua;
        }
  }


@media only screen and (max-width: 740px) {

    #photo img{
        width: 130px;
        height: 200px;
    }
    #photo img:hover{
        width: 160px;
        height: 220px;
    }
}


@media only screen and (max-width: 712px) {
    #intro1{
        padding-left: 45px;
    }
    #name{
        font-size: 25px;
        margin-left: 35px;
    }
    #h2{
        font-size: 15px;
        margin-left: 40px;
    }
    #nav2{
        padding-left: 35px;
    }
    #intro1{
        padding-left: 30px;
    }
    #intro1 p{
        font-size: 15px;
    }
    #intro1 h1{
        font-size: 20px;
    }
}


@media only screen and (max-width: 630px) {
    
    .nav{
        display: block;
        text-align: center;
    }
    #nav1{
        width: 100%;
        margin-bottom: 20px;

    }
    #nav2{
        width: 100%;
        margin-top: 25px;
        border: 2px solid aqua;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 30px;
    }
    #name{
        font-size: 35px;
    }
    #h2{
        margin-left: 0px;
        margin-top: 7px;
        font-size: 20px;
    }
    .intro{
        margin-top: 5px;
        display: block;
    }
    #intro1{
        padding-top: 40px;
        /* border: 2px solid black; */
        width: 100%;
        padding-left: 0px;
    }
    #intro1 h1{
        font-size: 25px;
        text-align: center;
    }
    #intro1 p{
        font-size: 18px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    #button{
        margin-left: 35%;
    }
    .card{
        height: 98%;
    }
    #photo{
        padding-top: 20px;
        /* border: 2px solid wheat; */
        width: 100%;
        height: 230px;
    }
    
    #photo img{
        width: 130px;
        height: 180px;
    }
    #photo img:hover{
        width: 140px;
        height: 190px;
    }
}


@media only screen and (max-width: 546px) {

    #photo{
        padding-top: 20px;
        /* border: 2px solid wheat; */
        width: 100%;
        height: 230px;
    }
    #photo img{
        /* width: ; */
        /* border: 2px solid wheat; */
        height: 170px;
        width: 120px;
    }
    #photo img:hover{
        width: 130px;
        height: 180px;
    }
    
}


@media only screen and (max-width: 546px) {
    #name{
        font-size: 27px;
    }
    #h2{
        font-size: 18px;
    }
    #nav2{
        font-size: 14px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #intro1 p{
        font-size: 14.5px;
    }
    #button{
        margin-left: 30%;
    }
}

@media only screen and (max-width: 428px) {
    #name{
        font-size: 20px;
    }
    #h2{
        font-size: 13px;
    }
    #nav2 a{
        font-size: 13px;
    }

    #nav2{
        padding-left: 20px;
        padding-right: 20px;
    }
    #intro1 p{
        font-size: 12px;
    }
    #intro1 h1{
        font-size: 16px;
    }
    #button{
        margin-left: 20%;
    }
}


@media only screen and (max-width: 372px) {
    #name{
        font-size: 15px;
    }
    #h2{
        font-size: 10px;
    }
    #nav2 a{
        font-size: 11px;
    }

    #nav2{
        padding-left: 10px;
        padding-right: 10px;
    }
    #intro1 p{
        font-size: 11px;
    }
    #intro1 h1{
        font-size: 12px;
    }
    #button{
        margin-left: 15%;
    }
}

