*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:black;
    --secondary-color:white;
}
body{
    transition: .5s linear;
}

body.light{
    --primary-color:white;
    --secondary-color:black;
}

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mode:active{
    background-color: #bf00ffac ;
}
#mode{
    padding: 10px 20px;
    background-color: #bf00ff ;
    color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 60px;
    cursor: pointer;
    /* font-weight: bold; */
    font-size: 1rem;
    box-shadow: 0 0 10px var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.clock-container{
    margin-bottom: 50px;
    border: 4px double var(--secondary-color);
    border-radius: 50%;
    padding: 10px;
}

.clock{
    overflow: hidden;
    height: 200px;
    width: 200px;
    position: relative;
}

.sui{
    width: 3px;
    height: 50% ;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--secondary-color);
    transform-origin: bottom;
    /* transition: transform .05s ease; */
}
.hour{
    height: 30%;
    transform: translate(-50%,-100%) rotate(0deg);
}
.second{
    background-color: rgb(255, 67, 67);
    transform: translate(-50%,-100%) rotate(0deg);
    z-index: 1;
}
.minute{
    transform: translate(-50%,-100%) rotate(0deg);
}


.center-point{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--secondary-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--secondary-color);

}
.center-point::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: rgb(255, 67, 67);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0 0 5px var(--secondary-color);

}



.display-time-and-date h2 span{
    font-size: 1.5rem;
}
.display-time-and-date h2{
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.display-time-and-date h4{
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 2px solid var(--secondary-color);
    padding: 5px 0;
    color: rgb(255, 99, 99);
    border-radius: 10px;

}
.display-time-and-date{
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}