.bodydiv{
    height: auto;
    /* border: 2px solid; */
    padding: 20px;
    
}
.bodydiv h1{
    margin:30px 0;
    text-align: center;
    color: rgb(130, 67, 255);
}

.projects_link{
    /* list-style: none; */
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 5px;
    justify-content: start;
    font-size: 1.1rem;
    line-height: 1.9rem;
}
.firstlicolor{
    color: red;
}

.projects_link li{
    width: 250px;
    text-align: start;
    text-wrap: wrap;
    margin: 10px;
    
    
}
.projects_link a{
    color: white;
    text-decoration: none;
    transition: .4s;
}
.projects_link li:hover{
    color: red;
    letter-spacing: 1px;
}

#miniProjects{
    cursor: pointer;
}